/* You can add global styles to this file, and also import other style files */

$primary: #20c997;

.button__badge {
    background-color: #fa3e3e;
    border-radius: 30px;
    color: white;
   
    padding: 1px 3px;
    font-size: 10px;
    
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }

@import "../node_modules/bootstrap/scss/bootstrap.scss"